# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml**/*.csproj

trigger:
  branches:
    include:
      - master
  paths:
    exclude:
      - README.md
      - azure-pipelines.yml

pr: none

variables:
  IMAGE_REPOSITORY: $(imageRepository)

pool:
  vmImage: 'ubuntu-latest'

steps:
- task: Docker@2
  displayName: Login to Docker Hub
  inputs:
    command: login
    containerRegistry: $(dockerRegistryServiceConnection)
- task: Docker@2
  displayName: Build and Push
  inputs:
    command: buildAndPush
    repository: $(IMAGE_REPOSITORY)
    tags: $((Build.BuildId)
  

  #- task: UseDotNet@2
  #  displayName: 'Use .NET Core SDK 3.1.300'
  #  inputs:
  #    packageType: sdk
  #    version: 3.1.300

  #- task: DotNetCoreCLI@2
  #  displayName: 'Restore project dependencies'
  #  inputs:
  #    command: 'restore'
  #    projects: '**/*.csproj'

  # - task: DotNetCoreCLI@2
  #   inputs:
  #     command: 'build'
  #     projects: 'src/*.csproj'
  # - task: DotNetCoreCLI@2
  #   inputs:
  #    command: 'test'
  #    projects:  'tests/*.csproj'
